doctype html
html 
    head 
        meta(charset="UTF-8")
        title This is Pugjs Page
        include pug/styles
    body 
        .container This Is a Container 32
        // Add the script to allow livereload to relaod automatically after each save
        script(src="http://localhost:35729/livereload.js")